/**
 * Copyright 2025 © BeeAI a Series of LF Projects, LLC
 * SPDX-License-Identifier: Apache-2.0
 */

.root {
  h2 {
    @include type-style('heading-02');
  }
}

.info {
  display: flex;
  flex-direction: column;
  gap: $spacing-05;
}

.mainInfo {
  display: flex;
  flex-direction: column;
  row-gap: $spacing-03;
}

.mainContent {
  font-size: rem(16px);
}
